@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@font-face {
  font-family: Satoshi;
  src: url("/fonts/Satoshi/Fonts/OTF/Satoshi-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Satoshi;
  src: url("/fonts/Satoshi/Fonts/OTF/Satoshi-Light.otf");
  font-weight: light;
  font-size: normal;
}

@font-face {
  font-family: Satoshi;
  src: url("/fonts/Satoshi/Fonts/OTF/Satoshi-Medium.otf");
  font-weight: 600;
  font-size: normal;
}

@font-face {
  font-family: Satoshi;
  src: url("/fonts/Satoshi/Fonts/OTF/Satoshi-Bold.otf");
  font-weight: bold;
  font-size: normal;
}

@font-face {
  font-family: Satoshi;
  src: url("/fonts/Satoshi/Fonts/OTF/Satoshi-Bold.otf");
  font-weight: bold;
  font-size: normal;
}

@font-face {
  font-family: IntegralCF;
  src: url("/fonts/IntegralCF/Fontspring-DEMO-integralcf-regular.otf");
  font-weight: bold;
  font-size: normal;
}

@font-face {
  font-family: IntegralCF;
  src: url("/fonts/IntegralCF/Fontspring-DEMO-integralcf-bold.otf");
  font-weight: bold;
  font-size: bold;
}

html,
body {
  font-family: Satoshi;

  @apply bg-white;
  @apply text-black;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
